<footer class="footer bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>Salesianos de Triana</p>
        </div>
          <div class="col-md-4">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li><a class="nav-link" routerLink="/">Inicio</a></li>
            <li><a class="nav-link" routerLink="/peliculas">Lista de Peliculas</a></li>
            <li><a class="nav-link" routerLink="/seriesPopulares">Lista de Series</a></li>
            <li><a class="nav-link" routerLink="/actores">Lista de Actores</a></li>
          </ul>
        </div>
          <div class="col-md-4">
          <h5>Contacto</h5>
          <p>Triana, Sevilla</p>
        </div>
      </div>
      <div class="text-center pt-3">
        <small>&copy; 2024 FilmData</small>
      </div>
    </div>
  </footer>
  