#parte1 {
    background-image: url(../../../../public/Diseño\ sin\ título\ \(3\).png);
    background-size: 100% auto;
}

#marioMovie {
    display: flex;
    width: 100%;
    justify-content: center;
}

.mario{
    width: 141vh;
    height: 45vh;
    border-radius: 0pt 0pt 30pt 30pt;
    margin-top: -0.8vh;
}

#populares{
    display: flex;
    width: 100%;
    justify-content: center;
}
#contenedor-titulos{
    margin-left: 30vh;
    width: 25%;
    display: flex;
    justify-content: start;
}
#titulos{   
    color: white;
    margin-top: 8vh;
}
#contenedor{
    height: 45vh;
    width: 141vh;
    background-color: #E5C7FA;
    border-radius: 30pt;  
    display: flex;
    justify-content: center;
}
#parteDeFondo{
    margin-top: -3vh;
    min-height: 10vh;
    background-color: #1E1E1E;
}
.tarjetas{
    display: flex;
}
.poster{
    width: 15vh;
    height: 20vh;
}