#parte1 {
    background-image: url(../../../../public/Diseño\ sin\ título\ \(3\).png);
    background-size: 100% auto;
}

#marioMovie {
    display: flex;
    width: 100%;
    justify-content: center;
}

img{
    width: 141vh;
    height: 45vh;
    border-radius: 0pt 0pt 30pt 30pt;
    margin-top: -1.5vh;
}

#poulares{
    display: flex;
    width: 100%;
    justify-content: center;
}
#poulares2{
    margin-top: 2vh;
    display: flex;
    width: 100%;
    justify-content: center;
}
#poulares3{
    margin-top: 5vh;
    display: flex;
    width: 100%;
    justify-content: center;
}
#contenedor-titulos{
    width: 25%;
    display: flex;
    justify-content: end;
}
#titulos{   
    color: white;
    margin-top: 8vh;
}
#contenedor{
    height: 45vh;
    width: 141vh;
    background-color: #E5C7FA;
    border-radius: 30pt;   
}
#parteDeFondo{
    min-height: 10vh;
    background-color: #1E1E1E;
}
