<div class="series-container">
<h2 class="series-title">Series populares</h2>


    <div class="series-grid">
        @for (serie of listaSeries; track $index) {

                <div class="serie-card">
                    <img [src]="serie.poster_path | imagen" [alt]="'Imagen de la serie ' + serie.name">

                    <div class="card-body">
                        <div class="card-header">
                            <h3 class="serie-name">{{serie.name}}</h3>
                            <div class="spinner-container">
                                    <mat-progress-spinner
                                        class="serie-spinner"
                                        [mode]="'determinate'"
                                        diameter="65"
                                        [value]="serie.vote_average * 10">
                                    </mat-progress-spinner>
                                    <span class="spinner-text">{{serie.vote_average / 10 | percent}}</span>

                            </div>
                        </div>
                    
                        <p class="release-date text-black-50 m-3">{{serie.first_air_date | date: "dd/MMM/YYYY"}}</p>
                    </div>

                </div>
            
            }
    </div>
</div>